<!DOCTYPE html>
<html lang="en">
<head>
    <title>Animal Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/animal_detail.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/mycommon.js"></script>
    <script src="/javascripts/index_page.js"></script>
</head>
<body>
<header class="mb-5">
    <%- include('header') %>
</header>
<main>
    <div class="container details">
        <div class="row mb-2">
            <div class="container animalHeader">
                <div class="col">
                    <div id="animalName">
                        <label><%= animal.name %></label>
                    </div>
                </div>
                <div class="col">
                    <% if (user) { %>
                        <div id="adopt" class="float-right">
                            <button class="btn">Adopt</button>
                        </div>
                    <% } else { %>
                        <div id="adopt" class="float-right">
                            <form class="form-horizontal" action="/signUp" method="get">
                                <button class="btn" type="submit">Adopt</button>
                            </form>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mb-5">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <% if (animal.imgUrl != null) { %>
                                <img src="<%= animal.imgUrl %>" alt="<%= animal.petType %>">
                            <% } else {  %>
                                <img src="https://placehold.it/800x400?text=NO-IMAGE" alt="Image">
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-2 mb-5">
                <div class="card anInfoCard">
                    <div class="card-header">
                        <h3 class="card-title">Animal Information</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <% if (animal.status.toLowerCase() == "waiting") {  %>
                                <li class="list-group-item"><b>Status: </b><span class="badge badge-success">Available</span></li>
                            <% } else {  %>
                                    <li class="list-group-item"><b>Status: </b><span class="badge badge-warning">Unavailable</span></li>
                            <% } %>
                            <% if (animal.age == "undefined") {  %>
                                <li class="list-group-item"><b>Age: </b> DOB Unknown</li>
                            <% } else if (animal.age === 0) {  %>
                                    <li class="list-group-item"><b>Age: </b> Less than a year old</li>
                            <% } else {  %>
                                <li class="list-group-item"><b>Age: </b><%= " " + animal.age %></li>
                            <% } %>
                            <% if (animal.petType == "undefined") {  %>
                                <li class="list-group-item"><b>Pet Type: </b> Pet Type Unknown</li>
                            <% } else {  %>
                                <li class="list-group-item"><b>Pet Type: </b><a href="/similarAnimals?petType=<%=animal.petType %>"> <%= " " + animal.petType %></a></li>
                            <% } %>
                            <% if (animal.petBreed == "undefined") {  %>
                                <li class="list-group-item"><b>Pet Breed: </b> Pet Breed Unknown</li>
                            <% } else {  %>
                                <li class="list-group-item"><b>Pet Breed: </b><a href="/similarAnimals?petBreed=<%=animal.petBreed %>"> <%= " " + animal.petBreed %></a></li>
                            <% } %>
                            <% if (animal.telephone == "undefined") {  %>
                                <li class="list-group-item"><b>Contact Number: </b> Contact Num Unknown</li>
                            <% } else {  %>
                                <li class="list-group-item"><b>Contact Number: </b><%= " " + animal.telephone %></li>
                            <% } %>
                                <br>
                        </ul>
                    </div>
                </div><!-- /.card-container -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mb-5">
                <div class="card detailCard">
                    <div class="card-header">
                        <h3 class="card-title">Animal Details</h3>
                    </div>
                    <div class="card-body">
                        <div class="animalDetails">
                            <% if (animal.detail == "undefined") {  %>
                                <h3>Details Unknown, or no details given</h3>
                            <% } else {  %>
                                <%= animal.detail %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="card anLocCard">
                    <div class="card-header">
                        <h3 class="card-title">Animal Location</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <% if (animal.postcode == "undefined") {  %>
                                <li class="list-group-item"><b>Post Code: </b> Post Code Unknown</li>
                            <% } else {  %>
                                <li class="list-group-item"><b>Post Code: </b><%= " " + animal.postcode %></li>
                            <% } %>
                            <% if (animal.street == "undefined") {  %>
                                <li class="list-group-item"><b>Street : </b> Street Unknown</li>
                            <% } else {  %>
                                <li class="list-group-item"><b>Street: </b><%= " " + animal.street %></li>
                            <% } %>
                            <% if (animal.town == "undefined") {  %>
                                <li class="list-group-item"><b>Town : </b> Town Unknown</li>
                            <% } else {  %>
                                <li class="list-group-item"><b>Town: </b><%= " " + animal.town %></li>
                            <% } %>
                            <% if (animal.country == "undefined") {  %>
                                <li class="list-group-item"><b>Country: </b> Country Unknown</li>
                            <% } else {  %>
                                <li class="list-group-item"><b>Country: </b><%= " " + animal.country %></li>
                            <% } %>
                        </ul>
                    </div>
                </div><!-- /.card-container -->
            </div><!-- /.col-sm-4 -->
        </div>
    <div class="row mb-5">
        <div class="container-fluid">
            <div class="card commentCard">
                <div class="card-header">
                    <h3 class="card-title">Comments</h3>
                </div>
                <div class="card-body">
                    <div class="comment">
                        <% if (animal.comment.length == 0) { %>
                            <div class="alert alert-warning" role="alert">No comments yet! Be the first to comment.</div>
                        <% } else { %>
                            <table class="table table-striped commentTable">
                                <thead>
                                    <tr>
                                        <th class="commentID">#</th>
                                        <th class="userName">User Name</th>
                                        <th class="commentCont">Comment</th>
                                        <th class="postTime">Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% for (let index = 0 ; index < animal.comment.length; index++) { %>
                                    <tr>
                                        <td class="commentID"><%= index + 1 %></td>
                                        <td class="userName"><%= animal.comment[index].name %></td>
                                        <td class="commentCont"><%= animal.comment[index].comment %></td>
                                        <td class="postTime"><%= animal.comment[index].date.toISOString().replace(/T.*/,' ') +
                                                                 animal.comment[index].date.toLocaleTimeString().replace(/ G.*/,"") %></td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        <% } %>
                    </div>
                    <% if (user) { %>
                        <div class="col">
                            <div class="commentBox">
                                <form class="form-horizontal" action="/animal/add_comment?id=<%= animal._id %>" method="post">
                                    <div class="form-group">
                                        <label for="comment" class="col-sm-2 control-label">Make a comment</label>
                                        <div class="col">
                                            <textarea rows="6" class="form-control form-control" id="comment" name="comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div><!-- /.card-container -->
        </div>
    </div>
</div>
<% if (user) {%>
    <!--modal for group Eval-->
    <div class="modal fade" id="modal-lg-applyForAdopt">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Pet Adoption Application</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <br><span class="prompt_message"></span>
                    <br>
                    <br>
                    <form id="adoptForm">
                        <div class="form-group">
                            <input name="animal" type="hidden" id="animal" class="form-control" value="<%= animal._id %>">
                        </div>
                        <div class="form-group">
                            <input name="candidate" type="hidden" id="candidate" class="form-control" value="<%= user._id %>">
                        </div>
                        <div class="form-group">
                            <label for="telephone">Telephone Number: </label>
                            <input name="telephone" type="tel" id="telephone" class="form-control" datatype="number" min="0" max="10" required>
                        </div>
                        <div class="form-group">
                            <label for="street">Street: </label>
                            <input name="street" type="text" id="street" class="form-control" datatype="text" min="0" max="40" required>
                        </div>
                        <div class="form-group">
                            <label for="town">Town: </label>
                            <input name="town" type="text" id="town" class="form-control" datatype="text" min="0" max="15" required>
                        </div>
                        <div class="form-group">
                            <label for="postcode">Postcode: </label>
                            <input name="postcode" type="text" id="postcode" class="form-control" datatype="text" min="0" max="10" required>
                        </div>
                        <div class="form-group">
                            <label for="country">Country: </label>
                            <input name="country" type="text" id="country" class="form-control" datatype="text" min="0" max="15" required>
                        </div>
                        <div class="form-group">
                            <label for="family">Family Members: </label>
                            <input name="family" type="text" id="family" class="form-control" datatype="text" min="0" max="100" required>
                        </div>
                        <div class="form-group">
                            <label for="ownAnimals">Do you currently own animals? </label><br>
                            <input type="radio" id="yes" name="ownAnimals" value="yes" required>
                            <label for="yes">Yes</label><br>
                            <input type="radio" id="no" name="ownAnimals" value="no" required>
                            <label for="no">No</label><br>
                        </div>
                        <div class="form-group">
                            <label for="reason">Reason for adoption: </label><br>
                            <textarea name="reason" id="reason" maxlength="300" required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="submitApp" class="btn btn-primary">Submit</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<% } %>
<% if (user) {%>
    <!--modal for success/failure prompt-->
    <div class="modal fade" id="modal-sm-failure">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Failure</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <i class="icon fas fa-exclamation-triangle fa-2x" style="color:red"></i>
                    <br><span class="prompt_message"></span>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
<% } %>

</main>
<script src="/javascripts/animal_detail.js"></script>
<footer class="text-muted bg-indigo" id="footer">
    <%- include('footer') %>
</footer>
</body>
</html>
